<header>
  <!-- logo -->
  <div class="row m-none">
    <div class="col-md-3 col-sm-12 p-none">
      <img src="../../assets/Profile/logo.png" height="190px" width="200px">
    </div>
    <div class="col-md-3 col-sm-12 p-none">
    </div>
    <div class="col-md-6 col-sm-12 p-none">
      <div class="brand">
        <h1>Nation Innovation</h1>
        <h4>Development of Electronic Research & Technology</h4>
      </div>
    </div>


  </div>


  <!-- Brand -->



  <!-- Main nav -->

  <!-- <nav class="main-nav">
        <a href="https://m.facebook.com/official.nation.innovation" target="_blank" class="fa fa-facebook"></a>
        <a href="#" target="_blank" class="fa fa-twitter"></a>
        <a href="#" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://www.youtube.com/c/nationinnovation" target="_blank" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/nationin" class="fa fa-instagram"></a>
    </nav> -->


</header>
<app-nav-bar></app-nav-bar>