<span class="heading">Projects</span>
<div class="container">
        <div class="card">
                <div class="face face1">
                    <div class="content">
                       <img src="../../assets/specialization/android.png">
                        <h3>Android Projects</h3>
               </div>
            </div>
               <div class="face face2">
                       <div class="content">
                           <p>An Android app is a software application running on the Android platform. Because the Android platform is built for mobile devices, a typical Android app is designed for a smartphone or a tablet PC running on the Android OS.View Projects for Android projects.</p>
                           <a (click)="changeRoute('android-projects')">View Projects</a>
                      </div>
            </div>
            </div>

            <div class="card">
                    <div class="face face1">
                        <div class="content">
                           <img src="../../assets/specialization/java.jpg">
                            <h3>Java Projects</h3>
                   </div>
                </div>
                   <div class="face face2">
                           <div class="content">
                                 <p>Purchase Project in java,java Source Code for final year college student, project submission of BE, BCA, MCA. ... It has a good GUI with HTML and CSS.download complete project with source code and report in JSP</p>
                               <a (click)="changeRoute('java-projects')">View Projects</a>
                          </div>
                </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                           <img src="../../assets/specialization/php.jpg">
                            <h3>PHP Projects</h3>
                   </div>
                </div>
                   <div class="face face2">
                           <div class="content">
                                <p>Purchase Project in php,java Source Code for final year college student, project submission of BE, BCA, MCA. ... It has a good GUI with HTML and CSS.download complete project with source code and report in JSP</p>

                            <a (click)="changeRoute('php-projects')">View Projects</a>
                          </div>
                </div>
                </div>

                <div class="card">
                        <div class="face face1">
                            <div class="content">
                               <img src="../../assets/specialization/python.jpg">
                                <h3>Python Projects</h3>
                       </div>
                    </div>
                       <div class="face face2">
                               <div class="content">
                                 <p>Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace. View Projects for python based projects.</p>
                                   <a (click)="changeRoute('python-projects')">View Projects</a>
                              </div>
                    </div>
                    </div>
 
 </div>
 <div class="container">
        <div class="card">
                <div class="face face1">
                    <div class="content">
                       <img src="../../assets/specialization/IoT.png">
                       <h3>Internet of Things / Automation</h3>
               </div>
           </div>
               <div class="face face2">
                       <div class="content">
                           <p>The Internet of Things, or IoT, is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique identifiers and the ability to transfer data over a network without requiring human-to-human or human-to-computer interaction</p>
                           <a (click)="changeRoute('iot-projects')">View Projects</a>
                      </div>
           </div>
           </div>
       
    <div class="card">
            <div class="face face1">
                <div class="content">
                   <img src="../../assets/specialization/imageprocessing.jpg">
                    <h3>Image Processing Projects</h3>
           </div>
       </div>
           <div class="face face2">
                   <div class="content">
                       <p>The method of image processing is used to do some processes on a picture like an image enhancement or to remove some functional data from the image. Image processing is one kind of signal processing, where the input is a picture, as well as the output, are features or characteristics allied with the image</p>
                       <a (click)="changeRoute('image-projects')">View Projects</a>
                  </div>
       </div>
       </div>
           <div class="card">
                   <div class="face face1">
                       <div class="content">
                         <img src="../../assets/specialization/embedded.jpg">
                         <h3>Embeddded System Project</h3>
                  </div>
              </div>
                  <div class="face face2">
                          <div class="content">
                             <p>An embedded system is designed to perform one function with real-time applications. Embedded systems are found in simple devices like calculators, microwave & television remote controls and also in more complicated devices such as a home security and neighborhood traffic control systems.</p>
                              <a (click)="changeRoute('embedded-projects')">View Projects</a>
                         </div>
              </div>
              </div>
   <div class="card">
         <div class="face face1">
             <div class="content">
                <img src="../../assets/specialization/rpi-os-feature-800x400.jpg">
                <h3>Raspberry Pi Projects</h3>
        </div>
    </div>
        <div class="face face2">
                <div class="content">
                   <p> Raspberry Pi is a dynamic microcontroller that is capable of just about anything a computer is. It runs with the Python programming.Looking for some awesome Raspberry Pi projects to do? Then you have found the right place. We have an ever growing list of cool & useful Pi projects to do.</p>
                    <a  (click)="changeRoute('raspberry-projects')">View Projects</a>
               </div>
    </div>
    </div>
  
 </div>
 
 <!-- <div class="container">
   <div class="card">
        <div class="face face1">
            <div class="content">
               <img src="../../assets/specialization/web.jpeg">
                <h3>Web Development</h3>
       </div>
    </div>
       <div class="face face2">
               <div class="content">
                  <p>NationInnovation specializes in website design and development services. Our web experiences are high-performing, feature-packed and digitally transformative, designed to be user-friendly, fully functional, very secure and able to scale as your enterprise grows.View Projects for web development.</p>
                   <a (click)="changeRoute('embedded-projects')">View Projects</a>
              </div>
    </div>
    </div>
 </div> -->
