<h2 class="header">Contact Us</h2>

<div class="item-container">
  <div class="item-table">
    <div class="item item-front">

      <img src="../../assets/contact/Whatsapp.png" height="250" width="250">

    </div>
    <a href="https://wa.me/919761872650" target="_blank">
      <div class="item back">
        <h3>Whatsapp contact</h3>
        <p>+91-9761872650</p>
      </div>
    </a>
  </div>
</div>


<div class="item-container">
  <div class="item-table">
    <div class="item item-front">
      <img src="../../assets/contact/call.png" height="250" width="250">
    </div>
    <div class="item back">
      <h3>Contact</h3>
      <p> +91-9761872650</p>
    </div>
  </div>
</div>


<div class="item-container">
  <div class="item-table">
    <div class="item item-front">
      <div class="item item-front">
        <img src="../../assets/contact/mail.png" height="250" width="250">
      </div>
    </div>
    <div class="item back">
      <h3>Email-us</h3>
      <p> officialnationin@gmail.com</p>
    </div>
  </div>
</div>