<div class="back">
  <header>
    <div class="brand">
      <h1 class="heading1">Web Development Projects</h1>
    </div>
  </header>

  <!-- <marquee direction="left">
      <h4>Android Projects by Nation Innovation. Book yours!!!</h4>
    </marquee> -->
  <div class="container gradient">
    <div class="col-md-4">

      <div class="card article">
        <img src="../../assets/Profile/order.jpg" alt="iot" style="width:100%">
        <div class="text">
          <h4><b>Web Development Projects</b></h4>
        </div>
      </div>

      <!-- <button class="btn btn-success register"><span class="glyphicon glyphicon-plus"></span> Order Now</button> -->
      <div class='register pm-button'><a
          href='https://www.payumoney.com/paybypayumoney/#/AAA63F394AB55D7B8D4C8E6D8C7FE3EB' target="_blank"><img
            src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/23.png' /></a></div>
    </div>

    <div class="col-md-8">
      <div class="article">
        Web Development Projects : <br>
        1. E-commerce website<br>
        2. Banking websites <br>
        3. school college websites<br>
        4. erp login system <br>
         -Contact us for any other domain and we will get back to you..
      </div>

      <nav class="main-nav">
        <a class="fa fa-code"></a>
        <a class="fa fa-book"></a>
        <a class="fa fa-server"> </a>
        <a class="fa fa-book doc"></a>
      </nav>
      <nav class="main-nav">
        <p> Source code</p>
        <p>Installation Guide </p>
        <p>Hardware </p>
        <p>Project Report</p>
      </nav>

    </div>
  </div>
</div>