
<div class="back">
  <header>
      <div class="brand">
        <h1 class="heading1">JAVA Projects</h1>
      </div>
    </header>
<!-- 
    <marquee direction="left">
      <h4>JAVA Projects by Nation Innovation. Book yours!!!</h4>
    </marquee> -->
    <div class="container gradient">
             <div class="col-md-4">

                  <div class="card article">
                    <img src="../../assets/Profile/order.jpg" alt="iot" style="width:100%">
                    <div class="text">
                      <h4><b>JAVA Projects</b></h4> 
                    </div>
                  </div>

                  <div class='register pm-button'><a href='https://www.payumoney.com/paybypayumoney/#/AAA63F394AB55D7B8D4C8E6D8C7FE3EB' target="_blank"><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/23.png' /></a></div>
                </div>

             <div class="col-md-8">
                <div class="article">
                  JAVA Projects :- <br>
                  1. Colour guessing game on javaScript <br>
                  2. Spring boot contact app project <br>
                  3. Contact App Project in JSP + Hib <br>
                  4. Port security in Network Java Project <br>
                  5. Pharmacy management system in Java <br>
                  6. Contact Application in JAVA with Spring<br>
                  
                </div>
                <nav class="main-nav">
                  <a class="fa fa-code"></a>
                  <a class="fa fa-book"></a>
                  <a class="fa fa-server"> </a>
                  <a class="fa fa-book doc"></a>
                </nav>
                <nav class="main-nav">
                  <p> Source code</p>
                  <p>Installation Guide </p>
                  <p>Hardware </p>
                  <p>Project Report</p>
                </nav>
             </div>
    </div>
  </div>