<div class="back">
  <header>
    <div class="brand">
      <h1 class="heading1">Python Projects</h1>
    </div>
  </header>

  <!-- <marquee direction="left">
    <h4>Python Projects by Nation Innovation. Book yours!!!</h4>
  </marquee> -->
  <div class="container gradient">
    <div class="col-md-4">

      <div class="card article">
        <img src="../../assets/Profile/order.jpg" alt="iot" style="width:100%">
        <div class="text">
          <h4><b>Python Projects</b></h4>
        </div>
      </div>

      <div class='register pm-button'><a href='https://www.payumoney.com/paybypayumoney/#/AAA63F394AB55D7B8D4C8E6D8C7FE3EB' target="_blank"><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/23.png' /></a></div>
    </div>

    <div class="col-md-8">
      <div class="article">
        Python Projects : <br>
        1. To do list project in python with source code<br>
        2 .Web crawler project<br>
        3. Chatbot project with source code (Machine Learning)<br>
        4. Complaint Box project in Python with source code<br>
        5. Hotel Management system in Python with source code<br>
        6. Aircraft Game in Python<br>
        7. Movie Trailer mini project in Python<br>
        8. Tic Tac Toe python project<br>
        9. Mario game python project<br>
        10. Music Player project in python<br>

      </div>
      <nav class="main-nav">
        <a class="fa fa-code"></a>
        <a class="fa fa-book"></a>
        <a class="fa fa-server"> </a>
        <a class="fa fa-book doc"></a>
      </nav>
      <nav class="main-nav">
        <p> Source code</p>
        <p>Installation Guide </p>
        <p>Hardware </p>
        <p>Project Report</p>
      </nav>
    </div>
  </div>
</div>