<div class="back">
  <header>
    <!-- logo -->

    <!-- <img *ngIf="currentRoute==='/py'" src="../../assets/projects/python-logo-png.png" height="180px" width="190px">
  <img *ngIf="currentRoute==='/iot'" src="../../assets/specialization//IoT.png" height="180px" width="190px">
  <img *ngIf="currentRoute==='/ml'" src="../../assets//specialization//ML.jpg" height="180px" width="190px">
  <img *ngIf="currentRoute==='/al'" src="../../assets/specialization/ARduino.jpg" height="180px" width="190px">
  <img *ngIf="currentRoute==='/plc'" src="../../assets/specialization//pcb.jpg" height="180px" width="190px">
  <img *ngIf="currentRoute==='/avr'" src="../../assets/specialization/ARM.jpg" height="180px" width="190px"> -->


    <!-- Brand -->
    <div class="brand">
      <h1 *ngIf="currentRoute==='/java'" class="heading1">AI</h1>
      <h1 *ngIf="currentRoute==='/py'" class="heading1">Python</h1>
      <h1 *ngIf="currentRoute==='/iot'" class="heading2">Internet of Things</h1>
      <h1 *ngIf="currentRoute==='/ml'" class="heading2">Machine Learning</h1>
      <h1 *ngIf="currentRoute==='/al'" class="heading2">Cadence Virtuoso Tool</h1>
      <h1 *ngIf="currentRoute==='/plc'" class="heading2">PLC Automation</h1>
      <h1 *ngIf="currentRoute==='/avr'" class="heading2">AVR Training</h1>
      <h1 *ngIf="currentRoute==='/vhdl'" class="heading2">VHDL & Verilog</h1>
      <h1 *ngIf="currentRoute==='/tcad'" class="heading2">TCAD handson</h1>
      <h4>Come learn with us...</h4>
    </div>
  </header>

  <!-- <marquee direction="left">
      <h4 *ngIf="currentRoute==='/java'">Java workshop by Nation Innovation is going on, Hurry Up!!!</h4>
      <h4 *ngIf="currentRoute==='/py'">Python workshop by Nation Innovation is going on, Hurry Up!!!</h4>
      <h4 *ngIf="currentRoute==='/iot'">IOT workshop by Nation Innovation is going on, Hurry Up!!!</h4>
      <h4 *ngIf="currentRoute==='/ml'">Machine Learning workshop by Nation Innovation is going on, Hurry Up!!!</h4>
      <h4 *ngIf="currentRoute==='/al'">Cadence Virtuoso Tool workshop by Nation Innovation is going on, Hurry Up!!!</h4>
      <h4 *ngIf="currentRoute==='/plc'">PLC Automation workshop by Nation Innovation is going on, Hurry Up!!!</h4>
      <h4 *ngIf="currentRoute==='/avr'">AVR Training workshop by Nation Innovation is going on, Hurry Up!!!</h4>
      <h4 *ngIf="currentRoute==='/tcad'">TCAD workshop by Nation Innovation is going on, Hurry Up!!!</h4>
    </marquee> -->
  <div class="container gradient">
    <div class="col-md-4">

      <div class="card article" *ngIf="currentRoute==='/java'">
        <img src="../../assets/specialization/AI.jpg" alt="python" style="width:100%">
        <div class="text">
          <h4><b>Artificial Intelligence Workshop</b></h4>
        </div>
      </div>

      <div class="card article" *ngIf="currentRoute==='/tcad'">
        <img src="../../assets/specialization/tcad.jpg" alt="python" style="width:100%">
        <div class="text">
          <h4><b>TCAD Workshop</b></h4>
        </div>
      </div>

      <div class="card article" *ngIf="currentRoute==='/py'">
        <img src="../../assets/projects/python-logo.jpg" alt="python" style="width:100%">
        <div class="text">
          <h4><b>Python Workshop</b></h4>
        </div>
      </div>

      <div class="card article" *ngIf="currentRoute==='/iot'">
        <img src="../../assets/specialization//IoT.png" alt="iot" style="width:100%">
        <div class="text">
          <h4><b>IoT Workshop</b></h4>
        </div>
      </div>

      <div class="card article" *ngIf="currentRoute==='/ml'">
        <img src="../../assets//specialization//ML.jpg" alt="iot" style="width:100%">
        <div class="text">
          <h4><b>Machine Learning Workshop</b></h4>
        </div>
      </div>

      <div class="card article" *ngIf="currentRoute==='/al'">
        <img src="../../assets/specialization/ARduino.jpg" alt="iot" style="width:100%">
        <div class="text">
          <h4><b>Cadence Virtuoso Tool Workshop</b></h4>
        </div>
      </div>

      <div class="card article" *ngIf="currentRoute==='/vhdl'">
        <img src="../../assets/specialization/ARduino.jpg" alt="iot" style="width:100%">
        <div class="text">
          <h4><b>VHDL & Verilog Workshop</b></h4>
        </div>
      </div>
      <div class="card article" *ngIf="currentRoute==='/plc'">
        <img src="../../assets/specialization//pcb.jpg" alt="iot" style="width:100%">
        <div class="text">
          <h4><b>PLC Automation Workshop</b></h4>
        </div>
      </div>

      <div class="card article" *ngIf="currentRoute==='/avr'">
        <img src="../../assets/specialization/ARM.jpg" alt="iot" style="width:100%">
        <div class="text">
          <h4><b>AVR Training Workshop</b></h4>
        </div>
      </div>
      
      <a><button class="btn btn-success register">Workshop includes -</button></a>
    <br>    <br>
    <div style="margin: 0px 30px;">
      <nav class="main-nav"><a class="fa fa-television"></a>  <a class="fa fa-book"></a></nav>
      <nav class="main-nav"><p> Slides</p> <p>Practical Handson </p></nav>

      <nav class="main-nav"> <a class="fa fa-server"> </a>  <a class="fa fa-question doc"></a></nav>
      <nav class="main-nav"><p>Hardware Implementation </p>  <p>Doubt sessions</p></nav>
    </div> 
        
    </div>

    <div class="col-md-8">

      <!-- java is AI -->
      <div class="article" *ngIf="currentRoute==='/java'">

        <ul>
          <li> Introduction to Artificial Intelligence.</li>
          <li> Introduction to Python: Variables, Operations, Data structures, Functions, Classes.</li>
          <li> Data Structures and Mathematical operations.</li>
          <li> Introduction to Numpy: arrays, indexing, operations.</li>
          <li> Introduction to Pandas: Series, Dataframes, Missing Data, Merging. .</li>
          <li> Visualization.</li>
          <li> Categorical Data, Normalization of values.</li>
          <li> Introduction to Matplotib & Seaborn.</li>
          <li> Splitting data, Validations sets etc. .</li>

        </ul>
        <br>
       
      </div>
      <div class="article" *ngIf="currentRoute==='/tcad'">
        <ul>
          <li> Introduction to Visual TCAD Tool. </li>
          <li> Designing of 2D structure of diode, nmos, pmos and cmos. </li>
          <li> Designing of 3D structure of nmos transistor , pmos transistor, double gate(FET), triple gate (FET) and
            gate all around(FET). </li>
          <li> Characterstic analysis using AC, DC, Transient Analysis of the devices. </li>
          <li> Approach towards layout creation. </li>
        </ul>
        <br>
      
      </div>
      <div class="article" *ngIf="currentRoute==='/py'">
        <ul>
          <li> Introduction to Python</li>
          <li> Installation and Working with Python</li>
          <li> Python basic Operators</li>
          <li> Python Data Types: Declaring and using Numeric data types, string data type, Defining </li>
          <li> list and list slicing. </li>
          <li> Python program flow control: Conditional blocks, loop using ranges, string, list and dictionaries. </li>
          <li> Programming using Python conditional and loops block. </li>
          <li> Python functions modules and packages. </li>
          <li> Building blocks of python programs. </li>
          <li> Python file operation (reading/writing). </li>
          <li> Python Object oriented programming. </li>

        </ul>
        <br>
       
      </div>

      <div class="article" *ngIf="currentRoute==='/vhdl'">
        <p style="color: black;text-align: center;">Introduction</p>
        <ul>
          <li> Introduction to VHDL and Verilog basics</li>
          <li> Types of programming</li>
          <li> Defining modules and syntax in coding</li>
          <li> Introduction to Xilinx and Vivado design suites</li>
        </ul>
        <br>
        <p style="color: black; text-align: center;"> Designing of simple modules</p>
        <ul>
          <li> Design of basic digital logic circuits</li>
          <li> Design of combinational and sequential modules </li>
          <li> Block diagram based designing in Vivado</li>
          <li> Introduction of TCL commands in vivado design suite</li>
        </ul>
        <br>

        <p style="color: black; text-align: center;">Designing of Complex modules</p>
        <ul>
          <li> Concept of Finite State Machines</li>
          <li> Design and implementation of Vending machine and traffic light controller </li>
          <li> Design and implementation of VGA control projects</li>
        </ul>
        <br>

        <p style="color: black; text-align: center;">Projects on Spartan FPGA</p>
        <ul>
          <li> Vending Machine </li>
          <li> Traffic Light Controller</li>
          <li> Image Processing basics using Spartan</li>
        </ul>
        <br>

        <p style="color: black; text-align: center;">Projects on Zedboard</p>
        <ul>
          <li> Project to control on board switches and LEDs</li>
          <li> Creating user defined IPs and programming for user defined pattern generation</li>
          <li> VGA control for video processing applications. </li>
        </ul>
        <br>
      
      </div>


      <div class="article" *ngIf="currentRoute==='/iot'">

        <ul>
          <li>NODE MCU Platform, Value Line Architecture, Features and Peripherals.</li>
          <li>Connectivity Solutions using NODE MCU Wi-Fi – Accessing HTML Page from HTTP Web Server and Interfacing
            with Microcontroller for control applications.</li>
          <li>Exchanging sensor data between connected nodes.</li>
          <li> Cloud Connectivity Topologies </li>
          <li>MQTT Protocol and MQTT Programming technique.</li>
          <li> Data acquisition and control using the MQTT based cloud server with the user interface as Mobile APP and
            web browser.</li>
          <li> Weather information from cloud server using NODE MCU Wi-Fi.</li>
          <li>Weather information from yahoo server using Temboo services</li>
          <li>Raspberry Pi – OS Installation, library dependencies, Internet Connectivity.</li>
          <li>SMS alerts using Nexmo and Twilio cloud services</li>
          <li>Sensor data acquisition using PubNub server</li>
          <li>Amazon Web Services IoT application using Python </li>
        </ul>
        <br>
      
      </div>

      <div class="article" *ngIf="currentRoute==='/ml'">
        <ul>
          <li> Introduction to Machine Learning and It’s Applications.</li>
          <li> Visualization, problems, data and tools.</li>
          <li> Regression & Classification: Linear & Logistic Regression with Python.</li>
          <li> Dimensionality Reduction (PCA) .</li>
          <li> Decision boundaries, K- Nearest neighbor.</li>
          <li> Decision Trees, Random Forest.</li>
          <li> Bayesian Classifiers.</li>
          <li> K-Means Clustering.</li>
          <li> Classification & Clustering. .</li>
          <li> Support Vector Machine: SVM with Python.</li>

        </ul>
        <br>
      
      </div>

      <div class="article" *ngIf="currentRoute==='/al'">
        <ul>
          <li> Introduction to the Virtuoso Tool</li>
          <li> Verification of I-V characteristics of NMOS, PMOS, CMOS Analysis. </li>
          <li> AC, DC, Transient Analysis and parametric analysis. </li>
          <li> Use of Calculator. </li>
          <li> Introduction to the DRC Rules. </li>
          <li> How to create Layout from schematic and layout verification. </li>
          <li> Simulation using parasitic components and without parasitic components. </li>
          <li> Design and simulation of Differential Amplifier and Op-Amp. </li>
          <li> Introduction to Verilog-A & Symbol using Verilog-A in Cadence Virtuoso and its analysis. </li>
        </ul>
        <br>
    
      </div>

      <div class="article" *ngIf="currentRoute==='/plc'">
        <ul>
          <li> Introduction to PLC Automation</li>
          <li> Programmable Logic Controllers (PLC) </li>
          <li> Block Diagram of PLC & Role of each module</li>
          <li> Types of I/O Modules and types of PLC</li>
          <li> I/O Configuration Types</li>
          <li> PLC wiring : Source and Sink Concept</li>
          <li> PLC programming S/W, Protocols</li>
          <li> Creating application, Software Configuration</li>
          <li> Data Files and I/O Addressing, Introduction bit Instructions (NC, NO, OP), </li>
          <li> Uploading and Downloading and Monitoring logic in PLC</li>
          <li> Instruction set, Timers, Counters, </li>
          <li> Hands-on Training and making minor project. </li>
        </ul>
        <br>
      

      </div>

      <div class="article" *ngIf="currentRoute==='/avr'">
        <ul>
          <li> Programming in Assembly and Embedded C. </li>
          <li> Basics of Program Writing & Coding Practices. </li>
          <li> Debugging and Optimization of C programs. </li>
          <li> Introduction to Data Structures, Algorithms and Abstract Data Types. </li>
          <li> Introduction to Microcontrollers, Architectures, Memory, Timers / Counters. </li>
          <li> UART, PWM, I2C, CAN, LED, Switches, ADC, DAC, LCD, RTC. </li>
          <li> Emerging Bus Standards (USB, PCI). </li>
          <li> Introduction to 16 / 32-bit Processors, ARM Architecture. </li>
          <li> Introduction to Cortex- M3 Architecture. </li>
          <li> Programming Model and Instruction Set, Memory Model, Exception Handling. </li>
          <li> Peripheral Programming, Introduction to Multi-Core Embedded Systems, Introduction to FPGA. </li>
          <li> Introduction to Real-Time Concepts, RTOS Internals & Real Time Scheduling. </li>
          <li> IoT Trends, IoT Architecture and IoT Applications. </li>
          <li> Board Design Fundamentals, Circuit Design and Simulation. </li>
          <li> PCB Placement and Routing. </li>
        </ul>
        <br>
      
      </div>
    </div>
  </div>
</div>