<h1 class="header">Join Us</h1>
<div class="box">
  <div class="card">
    <div class="card__picture">
      <img src="./../../assets/join us/joinus1.jpg">
    </div>
    <div class="card__details">
      <h2 class="card__details-name">I'm Industry Person</h2>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScKJaeWv9-kmd0I0ZVdK0CLCQ4uy1cCA2capp4FwihJi4xzUA/viewform" target="_blank"><span class="card__details-post">Join Us</span></a>
    </div>
  </div>
  <div class="card">
    <div class="card__picture">
      <img src="./../../assets/join us/joinus2.jpg">
    </div>
    <div class="card__details">
      <h2 class="card__details-name">I'm Faculty</h2>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScKJaeWv9-kmd0I0ZVdK0CLCQ4uy1cCA2capp4FwihJi4xzUA/viewform" target="_blank"><span class="card__details-post">Join Us</span></a>
    </div>
  </div>
  <div class="card">
    <div class="card__picture">
      <img src="./../../assets/join us/joinus3.jpg">
    </div>
    <div class="card__details">
      <h2 class="card__details-name">I'm Student</h2>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScKJaeWv9-kmd0I0ZVdK0CLCQ4uy1cCA2capp4FwihJi4xzUA/viewform" target="_blank"><span class="card__details-post">Join Us</span></a>
    </div>
  </div>

  
</div>


 <!-- modal 1 -->
<div id="openModal1" class="modalbg">
  <div class="dialog">
    <a href="#close" title="Close" class="close">X</a>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSezfWpXMSCmBusbyom74CC3pR8M6pDCXXKQKqLiU9oOyYDB5w/viewform?embedded=true" width="800" height="490" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> 
  	</div>
</div>
<!-- modal 2 -->
<div id="openModal2" class="modalbg">
    <div class="dialog">
      <a href="#close" title="Close" class="close">X</a>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScoeRtO56rhaVf_s770n_P5EMzZ9CpFm5b1FRn8pGWLg5Eymg/viewform?embedded=true" width="800" height="490" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> 
      </div>
  </div>
  <!-- modal 2 -->
<div id="openModal3" class="modalbg">
    <div class="dialog">
      <a href="#close" title="Close" class="close">X</a>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScd6f0RaUME1BM7BosFez8eNwXxUffvuIxvI3W5AABxg7MQCg/viewform?embedded=true" width="800" height="490" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> 
      </div>
  </div>
