<h2 class="header">Our Team</h2>

<div class="box">

  <div class="profile-card-1">
    <div class="img"><img src="../../assets/team/2.jpeg"/></div>
    <div class="mid-section">
      <div class="name">Mr. Shubham Chauhan</div>
      <div class="description">M.Tech (M. Tech Research Scholar, VLSI Design ) </div>
      <div class="line"></div>
    </div>
  </div>

  <div class="profile-card-1">
    <div class="img"><img
        src="../../assets/team/1.jpeg" /></div>
    <div class="mid-section">
      <div class="name">Mr. Gaurav Verma</div>
      <div class="description">PhD Research Scholar, IIT Roorkee </div>
      <div class="line"></div>
    </div>
  </div>

      <div class="profile-card-1">
          <div class="img"><img src="../../assets/team/3.jpeg"/></div>
          <div class="mid-section">
            <div class="name">Mr. Nitin Sharma</div>
            <div class="description">Web Developer</div>
            <div class="line"></div>
          </div>
      </div>
      
      <div class="profile-card-1">
        <div class="img"><img src="../../assets/team/prod_das.jpg"/></div>
        <div class="mid-section">
          <div class="name">Mr. Prodyut Das</div>
          <div class="description">Web Developer </div>
          <div class="line"></div>
        </div>
    </div>    
</div>